@using TicariOtomasyon.Models.Class;

@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View1.cshtml";
}
<br />
@using (Html.BeginForm("Index","Product",FormMethod.Get))
            {
                <p>
                    Product Name: @Html.TextBox("p")
                    <input type="submit" value="Search"/>
                </p>
            }
<br />
<table class="table table-bordered">
    <tr>

        <th>Product</th>
        <th>Brand</th>
        <th>Stock</th>
        <th>Purchase Price</th>
        <th>Sales Price</th>
        <th>Situation</th>
        <th>Category Id</th>

        <th>Product Delete</th>
        <th>Product Update</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>

            <td>@p.ProductNAme</td>
            <td>@p.Brand</td>
            <td>@p.Stock</td>
            <td>@p.Purchaseprice ₺</td>
            <td>@p.Saleprice ₺</td>
            <td>@p.Situation </td>
            <td>@p.Categoryiid</td>

            <td>
                <a href="/Product/ProductDelete/@p.ProductID" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="/Product/ProductBring/@p.ProductID" class="btn btn-success">Update</a>
            </td>
        </tr>
    }
</table>

<a href="/Product/NewProduct/ " class="btn btn-info">New Product</a>

