@using TicariOtomasyon.Models.Class
@model List<SalesAction>
@{
    ViewBag.Title = "SalesDetail";
    Layout = "~/Views/Shared/View1.cshtml";
}

<h2>Sales Detail Page</h2>
<br />

<table class="table table-condensed">
    <tr>
        <th>Sales Id</th>
        <th>Product</th>
        <th>Current</th>
        <th>Employee</th>
        <th>Price</th>
        <th>Piece</th>
        <th>Total</th>
        <th>Date</th>
        
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SalesActionId</td>
            <td>@x.Productiid</td>
            <td>@x.Current.CurrentName @x.Current.CurrentSurname</td>
            <td>@x.Employee.EmployeeName @x.Employee.EmployeeSurname</td>
            <td>@x.Price</td>
            <td>@x.Piece</td>
            <td>@x.TotalAmount</td>
            <td>@x.Date_</td>
           
        </tr>
    }

</table>
<button class="btn btn-default" style="background-color:burlywood">Print</button>

